#container {
    -webkit-column-count: 1;
    -webkit-column-gap: 20px;
    /*-webkit-column-rule: 5px solid #333;*/
    /*-webkit-column-width: 460px;*/
    /*margin-right: 10px;*/
    
}
#container>div {
    background: #eee;
    /*margin-bottom: 20px;*/
    height: 500px;
    border-radius:  2px 0px 2px 0px;
    -webkit-box-shadow: 2px 2px 5px #999;
}
textarea{
    height:300px;
    width:80%;
}
#go{
    height: 100px;
    width: 200px;
    position: absolute;
    margin-top: 110px;
    margin-left: 45px;
}