/*#region ComboBox */

.ui_cb { position:relative; display:inline-block; min-width:248px; font-family: Arial,Fzhtk,FZDHTJW,AdobeHeitiStd-Regular,Microsoft YaHei,SimHei,SimSun; }
    .ui_cb .bt { background-color:#fdfdfd;  display:inline-block; width:100%; height:100%;  cursor:pointer; box-sizing: border-box; position:relative;}
        .ui_cb .bt:hover { -webkit-box-shadow: 0 0 0 2px rgba(121, 233, 90, 0.7); }
        .ui_cb .bt .cb_title { margin-left:14px; float:left; margin-right:14px;  white-space: nowrap;text-overflow: ellipsis;overflow: hidden;display: block; }
        .ui_cb .bt .cb_caret { position:absolute; right:0px;  width: 45px; height: 100%; background:-webkit-linear-gradient(top, #e0edf2, #dae7ec);  -webkit-border-top-right-radius: 3px;-webkit-border-bottom-right-radius: 3px;border-left: 1px solid #b3b3b3;  -webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.3) inset;}
        .ui_cb .bt .sz { width:6px; height:100%; background:url(/EmsUI/Images/ComboBox/carset.png) no-repeat center center;  position:absolute; right:42px;}
        .ui_cb .bt .drop_icon { width:100%; height:100%; background:url(/EmsUI/Images/ComboBox/combo_arrow.png) no-repeat center center; }
        .ui_cb .bt .drop_rotate { -webkit-transform:rotate(180deg); }

    .ui_cb .combo_list { position:relative; top:-4px; display:block; }
        .ui_cb .combo_list ul { border: 1px solid #b3b3b3;border-top: 0;border-bottom: 0;background-color: #f8f7f5;list-style: none; }
            .ui_cb .combo_list ul li {  cursor:pointer; list-style: none;  margin: 0 0 1px 0;border-left: 3px solid transparent;  background: url(/EmsUI/Images/ComboBox/combo_dashed.png) repeat-x center bottom;}
                .ui_cb .combo_list ul li:hover { background-color: #e8f0d8; border-left: 3px solid #79e95a; }
                .ui_cb .combo_list ul li:last-child {  background-image:none; }
                .ui_cb .combo_list ul li span {  padding: 0 60px 0 12px; display:inline-block; white-space: nowrap;overflow: hidden; text-overflow: ellipsis; }

        .ui_cb .combo_list .sawtooths { position:relative; width:100%; height:12px; margin-top:-1px; background:url(/EmsUI/Images/ComboBox/sprite_bottom.png) repeat-x;  box-sizing:border-box;  }
            .ui_cb .combo_list .sawtooths div { border: 1px solid #b3b3b3;border-top: 0;border-bottom: 0;  width:100%; height:7px; box-sizing:border-box; }

    .ui_cb * {margin: 0;padding: 0;border: 0;-webkit-tap-highlight-color: rgba(0,0,0,0); }

/*#endregion */


/*#region Button */

.ui_btn { position:relative; display:inline-block; cursor:pointer; height:52px; font-size:24px; padding-left:36px; line-height:52px; padding-right:36px;  font-family: Arial,Fzhtk,FZDHTJW,AdobeHeitiStd-Regular,Microsoft YaHei,SimHei,SimSun; border-radius:5px;}
    .ui_btn:disabled { opacity:0.3; }

/*样式一 白色按钮*/
.ui_btn_style1 { min-width:72px; color:#4f4f4f; border:1px solid #eeeeee; background:-webkit-linear-gradient(top, #f1f1f1, #e4e4e4); -webkit-box-shadow: 0 0 0 1px #bbbbbb,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style1:hover {  -webkit-box-shadow: 0 0 0 2px #e38700,rgba(0, 0, 0,0.2) 0px 3px 3px 0px;  }
    .ui_btn_style1:active {  background:-webkit-linear-gradient(top, #d9d9d9, #e1e1e1); -webkit-box-shadow: 0 0 0 1px #bbbbbb,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }   
    .ui_btn_style1:disabled:hover, .ui_btn_style1:disabled:active { background:-webkit-linear-gradient(top, #f1f1f1, #e4e4e4); -webkit-box-shadow: 0 0 0 1px #bbbbbb,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }

/*样式二 绿色眼睛按钮*/
.ui_btn_style2 { min-width:72px; padding-left:82px; color:white; border:1px solid #7ee579; background:url(/EmsUI/Images/Button/priview_icon.png) no-repeat 36px 10px,-webkit-linear-gradient(top, #4dda46, #41ce3a); -webkit-box-shadow: 0 0 0 1px #35bd2f,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }
    .ui_btn_style2:hover {  -webkit-box-shadow: 0 0 0 2px #2eab28,rgba(0, 0, 0,0.2) 0px 3px 3px 0px; background:url(/EmsUI/Images/Button/priview_icon.png) no-repeat 36px -43px,-webkit-linear-gradient(top, #4dda46, #41ce3a); }
    .ui_btn_style2:active {  background:url(/EmsUI/Images/Button/priview_icon.png) no-repeat 36px -96px,-webkit-linear-gradient(top, #45c43f, #54d24e); -webkit-box-shadow: 0 0 0 1px #35bd2f,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style2:disabled:hover, .ui_btn_style2:disabled:active { background:url(/EmsUI/Images/Button/priview_icon.png) no-repeat 36px 10px,-webkit-linear-gradient(top, #4dda46, #41ce3a); -webkit-box-shadow: 0 0 0 1px #35bd2f,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }

/*样式三 蓝色按钮*/
.ui_btn_style3 { min-width:176px; color:white; border:1px solid #8ec5eb; background:-webkit-linear-gradient(top, #63afe3, #58a3d8); -webkit-box-shadow: 0 0 0 1px #398bc3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style3:hover {  -webkit-box-shadow: 0 0 0 2px #398bc3,rgba(0, 0, 0,0.2) 0px 3px 3px 0px;  }
    .ui_btn_style3:active {  background:-webkit-linear-gradient(top, #599dcc, #68acdb); -webkit-box-shadow: 0 0 0 1px #398bc3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style3:disabled:hover, .ui_btn_style3:disabled:active {  background:-webkit-linear-gradient(top, #63afe3, #58a3d8); -webkit-box-shadow: 0 0 0 1px #398bc3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }

/*样式四 红色按钮*/
.ui_btn_style4 { min-width:176px; color:white; border:1px solid #e88989; background:-webkit-linear-gradient(top, #df5c5c, #d35050); -webkit-box-shadow: 0 0 0 1px #b82b2b,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style4:hover {  -webkit-box-shadow: 0 0 0 2px #b82b2b,rgba(0, 0, 0,0.2) 0px 3px 3px 0px;  }
    .ui_btn_style4:active {  background:-webkit-linear-gradient(top, #c95353, #d76161); -webkit-box-shadow: 0 0 0 1px #b82b2b,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style4:disabled:hover, .ui_btn_style4:disabled:active { background:-webkit-linear-gradient(top, #df5c5c, #d35050); -webkit-box-shadow: 0 0 0 1px #b82b2b,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }

/*样式五 灰色圆形按钮*/
.ui_btn_style5 { min-width:40px; color:#4f4f4f; border:1px solid #ebebeb; padding-left:20px; padding-right:20px; border-radius:26px; background:-webkit-linear-gradient(top, #ffffff, #e0e0e0); -webkit-box-shadow: 0 0 0 1px #b3b3b3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style5:hover {  -webkit-box-shadow: 0 0 0 2px #e38700,rgba(0, 0, 0,0.2) 0px 3px 3px 0px;  }
    .ui_btn_style5:active {  background:-webkit-linear-gradient(top, #d8d8d8, #f1f1f1); -webkit-box-shadow: 0 0 0 1px #bbbbbb,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style5:disabled:hover, .ui_btn_style5:disabled:active { background:-webkit-linear-gradient(top, #ffffff, #e0e0e0); -webkit-box-shadow: 0 0 0 1px #b3b3b3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }

/*样式六 灰色方形编辑按钮*/
.ui_btn_style6 { min-width:40px; color:#4f4f4f; border:1px solid #ebebeb; padding-left:40px; padding-right:20px; background:url(/EmsUI/Images/Button/edit_icon.png) no-repeat 12px 16px,-webkit-linear-gradient(top, #ffffff, #e0e0e0); -webkit-box-shadow: 0 0 0 1px #b3b3b3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style6:hover {  -webkit-box-shadow: 0 0 0 2px #e38700,rgba(0, 0, 0,0.2) 0px 3px 3px 0px;  background:url(/EmsUI/Images/Button/edit_icon.png) no-repeat 12px 16px,-webkit-linear-gradient(top, #ffffff, #e0e0e0);}
    .ui_btn_style6:active {  background:url(/EmsUI/Images/Button/edit_icon.png) no-repeat 12px 16px,-webkit-linear-gradient(top, #d8d8d8, #f1f1f1); -webkit-box-shadow: 0 0 0 1px #bbbbbb,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;  }
    .ui_btn_style6:disabled:hover, .ui_btn_style6:disabled:active { background:url(/EmsUI/Images/Button/edit_icon.png) no-repeat 12px 16px,-webkit-linear-gradient(top, #ffffff, #e0e0e0); -webkit-box-shadow: 0 0 0 1px #b3b3b3,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }




/*#endregion */


/*#region ToggleButton */

.ui_tgb { position:relative; border-radius:5px;  padding:0px; margin:0px; cursor:pointer;}
    .ui_tgb:disabled { opacity:0.3; }
    

/*样式一 绿色按钮*/
.ui_tgb_style1 {  width:80px; height:44px; border:1px solid #73d159; background: url(/EmsUI/Images/ToggleButton/toggle_btn.png) no-repeat 22px 6px,-webkit-linear-gradient(top, #3dbd19, #32b20e); -webkit-box-shadow: 0 0 0 1px #35bd2f,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;}
    .ui_tgb_style1:hover {  -webkit-box-shadow: 0 0 0 2px #2eab28,rgba(0, 0, 0,0.2) 0px 3px 3px 0px; }
    .ui_tgb_style1:active { -webkit-box-shadow: 0 0 0 1px #35bd2f,rgba(0, 0, 0,0.2) 0px 3px 3px 0px; background: url(/EmsUI/Images/ToggleButton/toggle_btn.png) no-repeat 22px 6px,-webkit-linear-gradient(top, #37aa16, #46b926);}
    .ui_tgb_style1:disabled:hover, .ui_tgb_style1:disabled:active { background: url(/EmsUI/Images/ToggleButton/toggle_btn.png) no-repeat 22px 6px,-webkit-linear-gradient(top, #3dbd19, #32b20e); -webkit-box-shadow: 0 0 0 1px #35bd2f,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }
.ui_tgb_style1_rever { background-position-x:-58px; }
    .ui_tgb_style1_rever:active { background-position-x:-58px; }


/*样式二 咖啡色按钮*/
.ui_tgb_style2 {  width:80px; height:44px; border:1px solid #dbc399; background: url(/EmsUI/Images/ToggleButton/toggle_btn.png) no-repeat 22px 6px,-webkit-linear-gradient(top, #cdac72, #c1a167); -webkit-box-shadow: 0 0 0 1px #b99553,rgba(0, 0, 0,0.2) 0px 2px 3px 0px;}
    .ui_tgb_style2:hover {  -webkit-box-shadow: 0 0 0 2px #b99553,rgba(0, 0, 0,0.2) 0px 3px 3px 0px; }
    .ui_tgb_style2:active { -webkit-box-shadow: 0 0 0 1px #b99553,rgba(0, 0, 0,0.2) 0px 3px 3px 0px; background: url(/EmsUI/Images/ToggleButton/toggle_btn.png) no-repeat 22px 6px,-webkit-linear-gradient(top, #b99b67, #c7aa76);}
    .ui_tgb_style2:disabled:hover, .ui_tgb_style2:disabled:active { background: url(/EmsUI/Images/ToggleButton/toggle_btn.png) no-repeat 22px 6px,-webkit-linear-gradient(top, #cdac72, #c1a167); -webkit-box-shadow: 0 0 0 1px #b99553,rgba(0, 0, 0,0.2) 0px 2px 3px 0px; }
.ui_tgb_style2_rever { background-position-x:-136px; }
    .ui_tgb_style2_rever:active { background-position-x:-136px; }


/*样式三 圆形锁按钮*/
.ui_tgb_style3 { width:48px; height:48px; border:1px solid #fcfcfc; background: url(/EmsUI/Images/ToggleButton/toggle_lock.png) no-repeat 2px 0px,-webkit-linear-gradient(top, #fefefe, #e7e7e7); -webkit-box-shadow: 0 0 0 0px #fefefe,rgba(0, 0, 0,0.2) 0px 3px 5px 0px; border-radius:24px;}
    .ui_tgb_style3:hover { -webkit-box-shadow: 0 0 0 2px #e38700,rgba(0, 0, 0,0.2) 0px 3px 5px 0px; }
    .ui_tgb_style3:active { background: url(/EmsUI/Images/ToggleButton/toggle_lock.png) no-repeat 2px 0px,-webkit-linear-gradient(top, #e6e6e6, #e9e9e9); }
        .ui_tgb_style3:disabled:hover, .ui_tgb_style3:disabled:active { background: url(/EmsUI/Images/ToggleButton/toggle_lock.png) no-repeat 2px 0px,-webkit-linear-gradient(top, #fefefe, #e7e7e7); -webkit-box-shadow: 0 0 0 0px #fefefe,rgba(0, 0, 0,0.2) 0px 3px 5px 0px; }
.ui_tgb_style3_rever {  background-position-x:-48px; }
    .ui_tgb_style3_rever:active { background-position-x:-48px; }

/*样式四 滑动按钮绿色*/
.ui_tgb_style4 { width:108px; height:46px;border-radius: 23px; border-width:0px; background: url(/EmsUI/Images/ToggleButton/toggle_slide.png) no-repeat 31px 2px,-webkit-linear-gradient(top, #7fea62, #6fd653);  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.6) inset; -webkit-transition:background-position-x ease-in-out 0.4s; }
.ui_tgb_style4_rever {  background-position-x:-29px; }

/*样式五 滑动按钮灰色*/
.ui_tgb_style5 { width:108px; height:46px;border-radius: 23px; border-width:0px; background: url(/EmsUI/Images/ToggleButton/toggle_slide.png) no-repeat 31px 2px,-webkit-linear-gradient(top, #d1d1d1, #c5c5c5);  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.7), 0 1px 2px rgba(0, 0, 0, 0.6) inset; -webkit-transition:background-position-x ease-in-out 0.4s; }
.ui_tgb_style5_rever {  background-position-x:-29px; }

/*样式六 滑动按钮图片白*/
.ui_tgb_style6 { height:54px; width:124px;  border-width:0px; border-radius:21px; background: url(/EmsUI/Images/ToggleButton/toggle_slidebar.png) no-repeat 1px -3px ,url(/EmsUI/Images/ToggleButton/toggle_slide_bg.png) no-repeat 0px -2px; -webkit-transition:background-position-x ease-in-out 0.4s;}
    .ui_tgb_style6:hover {  background: url(/EmsUI/Images/ToggleButton/toggle_slidebar.png) no-repeat 1px -63px ,url(/EmsUI/Images/ToggleButton/toggle_slide_bg.png) no-repeat 0px -2px; }
.ui_tgb_style6_rever { background: url(/EmsUI/Images/ToggleButton/toggle_slidebar.png) no-repeat 60px -3px ,url(/EmsUI/Images/ToggleButton/toggle_slide_bg.png) no-repeat 0px -2px;  }
    .ui_tgb_style6_rever:hover { background: url(/EmsUI/Images/ToggleButton/toggle_slidebar.png) no-repeat 60px -63px ,url(/EmsUI/Images/ToggleButton/toggle_slide_bg.png) no-repeat 0px -2px;  }

/*#endregion */


/*#region 复选框 */

.check_lable { min-width:44px; height:44px; display:inline-block; text-indent:50px; border-radius:5px; background:url(/EmsUI/Images/CheckBox/checkbox_bg.png) no-repeat -2px -0px;  font-family: Arial,Fzhtk,FZDHTJW,AdobeHeitiStd-Regular,Microsoft YaHei,SimHei,SimSun; font-size:24px; line-height:44px;}
    .check_lable:hover {  background-position-y:-48px; }
    .check_lable:active { background-position-y:-96px; }
    .check_lable input[type=checkbox] { display:none; }

/*#endregion */